<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freeskill.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/freeskill_logo_android"
        android:label="@string/app_name"
        android:roundIcon="@drawable/freeskill_logo_android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="freeskill.app.controller.HomepageScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="freeskill.app.test.DisplayMessageActivity"
            android:label="Test connexion"
            android:screenOrientation="portrait"
            android:parentActivityName="freeskill.app.controller.HomepageScreen" >
        </activity>
        <activity android:name="freeskill.app.controller.SettingsScreen"
            android:label="Paramètres"
            android:screenOrientation="portrait"
            android:parentActivityName="freeskill.app.test.Test" >
        </activity>
        <activity android:name="freeskill.app.controller.ProfileScreen"
            android:label="Profil"
            android:screenOrientation="portrait"
            android:parentActivityName="freeskill.app.test.Test" >
        </activity>
        <activity android:name="freeskill.app.test.Test"
            android:label="Test"
            android:screenOrientation="portrait"
            android:parentActivityName="freeskill.app.controller.HomepageScreen" >
        </activity>
    </application>

</manifest>