<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="freeskill.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/freeskill_logo_android"
        android:label="@string/app_name"
        android:name=".FreeskillApplication"
        android:roundIcon="@drawable/freeskill_logo_android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="freeskill.app.controller.HomepageScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="freeskill.app.controller.SettingsScreen"
            android:label="Paramètres"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="freeskill.app.controller.ProfileScreen"
            android:label="Profil"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="freeskill.app.controller.SwipeScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="freeskill.app.controller.UserRegistrationScreen"
            android:label="Inscription utilisateur"
            android:screenOrientation="portrait"
            android:parentActivityName="freeskill.app.controller.HomepageScreen">
        </activity>
        <activity
            android:name=".controller.ListMarksScreen"
            android:label="marks list by tag"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.SwipeScreen">
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".controller.ChatListActivity"
            android:label="ChatList"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.SwipeScreen"></activity>
        <activity
            android:name=".controller.ChatActivity"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:parentActivityName=".controller.ChatListActivity"></activity>
    </application>

</manifest>